extends ./include/layouts/_base_layout
include ./include/mixins/utils/_image

block variables
  - var title = "Галерея работ"
  - var description = "Страница с нашими работами"
  - var canonical = "/delivery"
  - var breaditems = [{ text: title }]
  -
    var list = [
      { img: "1d36d23b156ead252433d4ce2c21c387_XL 1.png", text: "Двухрядный потолочный карниз для штор «Верди»" },
      { img: "1d36d23b156ead252433d4ce2c21c387_XL 2.png", text: "Двухрядный потолочный карниз для штор «Верди»" },
      { img: "1d36d23b156ead252433d4ce2c21c387_XL 3.png", text: "Двухрядный потолочный карниз для штор «Верди»" },
      { img: "1d36d23b156ead252433d4ce2c21c387_XL 4.png", text: "Двухрядный потолочный карниз для штор «Верди»" },
    ]
  -
    var buttons = [
      ["Все работы", "Гостиные", "Спальни", "Кухни", "Детские", "Подушки и Покрывала", "Кабинеты", "Ванная"],
      [
        "Все стили",
        "Шторы на люверсах",
        "Шторы с ламбрекеном",
        "Классические шторы",
        "Современные шторы",
        "Японские панели",
        "Подушки и Покрывала",
        "Римские шторы",
        "Французские / Австрийские шторы",
        "Рулонные шторы",
        "Жалюзи",
      ]
    ]

block head
  link(href="/src/scss/our-works.page.scss" rel="stylesheet")

block content
  .our-works__wrapper
    .our-works__filter
      .our-works__filter__row
        each it, i in buttons[0]
          button.our-works__filter__item(class=`${i === 0 ? 'selected' : ''}`) #{it}
      .our-works__filter__row
        each it, i in buttons[1]
          button.our-works__filter__item(class=`${i === 0 ? 'selected' : ''}`) #{it}
    .our-works__cards
      each i in [0, 1, 2, 3, 4]
        each it in (i % 2 === 0 ? list : [...list].reverse())
          article.our-works__cards__item
            a.our-works__cards__link(href="#")
              div.our-works__cards__image
                +image(it.img, "/images/gallery/")
              h2.our-works__cards__title #{it.text}


