extends ../include/layouts/_base_layout
include ../include/mixins/utils/_image

block variables
  - var title = "Бахрома"
  - var description = "Страница товаров с категорией \"Бахрома\""
  - var canonical = "/category/accessories/bahroma.html"
  - var breaditems = [{ text: "Аксессуары", link: "/category/accessories/" }, { text: title }]
  - var productLink = '/category/accessories/bahroma/bahroma-dlya-shtor-zolotistogo-cveta-so-steklyarusom.html'
  -
    var products = [
      {
        img: "1d36d23b156ead252433d4ce2c21c387_XL 1.png",
        name: "Бахрома для штор золотистого цвета со стеклярусом",
        price: 1000,
        meta: "Артикул: 12548"
      },
      {
        img: "1d36d23b156ead252433d4ce2c21c387_XL 2.png",
        name: "Бахрома фиолетовая, стеклярус 14см, м",
        price: 1500,
        meta: "Артикул: 12548"
      },
      {
        img: "1d36d23b156ead252433d4ce2c21c387_XL 3.png",
        name: "Бахрома для штор золотистого цвета со стеклярусом",
        price: 2300,
        meta: "Артикул: 12548"
      },
      {
        img: "1d36d23b156ead252433d4ce2c21c387_XL 4.png",
        name: "Бахрома фиолетовая, стеклярус 14см, м",
        price: 1800,
        meta: "Артикул: 12548"
      },
    ]

block head
  link(href="/src/scss/products.page.scss" rel="stylesheet")

block content
  .products__wrapper
    each i in [0, 1, 2, 3]
      each it in i % 2 === 0 ? products : [...products].reverse()
        .products__item
          a.products__image(href=productLink)
            +image(it.img, "/images/products/")
          .products__content
            h2.products__name: a(href=productLink) #{it.name}
            .products__bottom
              span.products__price от #{it.price} ₽
              span.products__meta #{it.meta}
